XMLSpy2015/Examples/HTML-OrgChart.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Mr. Nobody (Altova GmbH) -->
<!-- edited with XML Spy v4.4 alpha 3 U build May 22 2002 (http://www.altova.com) by Christoph Rathkolb (Altova GmbH) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.altova.com/schemas/orgchart" xmlns:ipo="http://www.altova.com/IPO" xmlns:ts="http://www.xmlspy.com/schemas/textstate" targetNamespace="http://www.altova.com/schemas/orgchart" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.altova.com/IPO" schemaLocation="html-address.xsd"/>
	<xsd:import namespace="http://www.xmlspy.com/schemas/textstate" schemaLocation="HTML-TextState.xsd"/>
	<xsd:notation name="Altova-Orgchart" public="http://www.altova.com/schemas/Altova/orgchart"/>
	<xsd:complexType name="DivisionType">
		<xsd:sequence>
			<xsd:element ref="Name"/>
			<xsd:element ref="Person" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="OrgChart">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CompanyLogo">
					<xsd:complexType>
						<xsd:attribute name="href" type="xsd:anyURI"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Name"/>
				<xsd:element name="Office" type="OfficeType" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Person" type="PersonType"/>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>A person working for the company</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="First" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>First (given) name of person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Last" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Last (family) name of person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Title" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Academic (or other) title</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PhoneExt" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Phone extension for direct dialing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="EMail"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="emailType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\p{L}_-]+(\.[\p{L}_-]+)*@[\p{L}_]+(\.[\p{L}_]+)+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Department" type="DivisionType"/>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:complexType name="OfficeType">
		<xsd:sequence>
			<xsd:element ref="Name"/>
			<xsd:element name="Established" type="xsd:date" minOccurs="0"/>
			<xsd:element ref="Desc"/>
			<xsd:element name="Address" type="ipo:US-Address"/>
			<xsd:element name="Phone" type="xsd:string"/>
			<xsd:element name="Fax" type="xsd:string"/>
			<xsd:element ref="EMail"/>
			<xsd:element ref="Department" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EMail" type="emailType">
		<xsd:annotation>
			<xsd:documentation>E-Mail address on the Internet (must be in name@company.net format)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Desc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="para" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="para" type="ts:TextType"/>
	<xsd:element name="table">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="caption" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="align">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="top"/>
									<xsd:enumeration value="bottom"/>
									<xsd:enumeration value="left"/>
									<xsd:enumeration value="right"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="thead" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="tr" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="table_row_Type">
											<xsd:attribute name="align">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="center"/>
														<xsd:enumeration value="justify"/>
														<xsd:enumeration value="left"/>
														<xsd:enumeration value="right"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="valign">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="baseline"/>
														<xsd:enumeration value="top"/>
														<xsd:enumeration value="middle"/>
														<xsd:enumeration value="bottom"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="bgcolor"/>
											<xsd:attribute name="width"/>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="tfoot" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="tr" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="table_row_Type">
											<xsd:attribute name="align">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="center"/>
														<xsd:enumeration value="justify"/>
														<xsd:enumeration value="left"/>
														<xsd:enumeration value="right"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="valign">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="baseline"/>
														<xsd:enumeration value="bottom"/>
														<xsd:enumeration value="middle"/>
														<xsd:enumeration value="top"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="bgcolor"/>
											<xsd:attribute name="width"/>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="tbody" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="tr" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="table_row_Type">
											<xsd:attribute name="align">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="center"/>
														<xsd:enumeration value="justify"/>
														<xsd:enumeration value="left"/>
														<xsd:enumeration value="right"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="valign">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="baseline"/>
														<xsd:enumeration value="bottom"/>
														<xsd:enumeration value="middle"/>
														<xsd:enumeration value="top"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
											<xsd:attribute name="bgcolor"/>
											<xsd:attribute name="width"/>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="justify"/>
						<xsd:enumeration value="left"/>
						<xsd:enumeration value="center"/>
						<xsd:enumeration value="right"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="border"/>
			<xsd:attribute name="cellpadding"/>
			<xsd:attribute name="bgcolor"/>
			<xsd:attribute name="width"/>
			<xsd:attribute name="cellspacing"/>
			<xsd:attribute name="frame"/>
			<xsd:attribute name="rules"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="table_row_Type">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="th">
				<xsd:complexType mixed="true">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="table"/>
						<xsd:element ref="para"/>
						<xsd:element ref="ts:bold"/>
						<xsd:element ref="ts:italic"/>
					</xsd:choice>
					<xsd:attribute name="bgcolor"/>
					<xsd:attribute name="rowspan"/>
					<xsd:attribute name="colspan"/>
					<xsd:attribute name="width"/>
					<xsd:attribute name="align">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="center"/>
								<xsd:enumeration value="justify"/>
								<xsd:enumeration value="left"/>
								<xsd:enumeration value="right"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="valign">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="baseline"/>
								<xsd:enumeration value="top"/>
								<xsd:enumeration value="middle"/>
								<xsd:enumeration value="bottom"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="height"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="td">
				<xsd:complexType mixed="true">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="table"/>
						<xsd:element ref="para"/>
						<xsd:element ref="ts:italic"/>
						<xsd:element ref="ts:bold"/>
					</xsd:choice>
					<xsd:attribute name="bgcolor"/>
					<xsd:attribute name="rowspan"/>
					<xsd:attribute name="colspan"/>
					<xsd:attribute name="width"/>
					<xsd:attribute name="align">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="center"/>
								<xsd:enumeration value="justify"/>
								<xsd:enumeration value="left"/>
								<xsd:enumeration value="right"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="valign">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="baseline"/>
								<xsd:enumeration value="top"/>
								<xsd:enumeration value="middle"/>
								<xsd:enumeration value="bottom"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="height"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
