gui-automation/data/spy/examples/Date.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:element name="DateList" type="DateList">		<xs:annotation>			<xs:documentation>Comment describing your root element</xs:documentation>		</xs:annotation>	</xs:element>	<xs:complexType name="DateList">		<xs:sequence maxOccurs="unbounded">			<xs:element name="FirstDate" type="xs:date"/>			<xs:element name="UpdateDate" type="xs:date"/>		</xs:sequence>	</xs:complexType></xs:schema>