gui-automation/data/spy/examples/MinMax_Temperatures2009_CS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Month"/>
				<xs:element ref="Min"/>
				<xs:element ref="Max"/>
				<xs:element ref="Avg"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Month">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="April"/>
				<xs:enumeration value="August"/>
				<xs:enumeration value="December"/>
				<xs:enumeration value="February"/>
				<xs:enumeration value="January"/>
				<xs:enumeration value="July"/>
				<xs:enumeration value="June"/>
				<xs:enumeration value="March"/>
				<xs:enumeration value="May"/>
				<xs:enumeration value="November"/>
				<xs:enumeration value="October"/>
				<xs:enumeration value="September"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Min">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="-16"/>
				<xs:enumeration value="-3"/>
				<xs:enumeration value="-5"/>
				<xs:enumeration value="-9"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="16"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Max">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="16"/>
				<xs:enumeration value="19"/>
				<xs:enumeration value="21"/>
				<xs:enumeration value="26"/>
				<xs:enumeration value="28"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="34"/>
				<xs:enumeration value="36"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Import">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Row" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Avg">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="-1"/>
				<xs:enumeration value="-8"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="18"/>
				<xs:enumeration value="19"/>
				<xs:enumeration value="24"/>
				<xs:enumeration value="26"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
