gui-automation/data/spy/examples/name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://example.org/name"
	xmlns:tns="http://example.org/name">
	<!-- This document is used as a sample XML schema document. -->
	<element name="Name">
		<complexType>
			<sequence>
				<element name="FirstName" type="string"></element>
				<element name="LastName" type="string"></element>
			</sequence>
		</complexType>
	</element>
	<element name="SIN" type="string" />

</schema>