gui-automation/data/spy/examples/OrgChart.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2012 rel. 2 (x64) (http://www.altova.com)-->
<!ELEMENT para (#PCDATA | bold | italic)*>
<!ELEMENT italic (#PCDATA)>
<!ELEMENT ipo:zip (#PCDATA)>
<!ELEMENT ipo:street (#PCDATA)>
<!ELEMENT ipo:state (#PCDATA)>
<!ELEMENT ipo:postcode (#PCDATA)>
<!ELEMENT ipo:city (#PCDATA)>
<!ELEMENT bold (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Shares (#PCDATA)>
<!ELEMENT PhoneExt (#PCDATA)>
<!ELEMENT Phone (#PCDATA)>
<!ELEMENT Person ((First, Last, Title, PhoneExt, EMail, Shares?, LeaveTotal, LeaveUsed, LeaveLeft))>
<!ELEMENT OrgChart ((CompanyLogo, Name, Office+))>
<!ATTLIST OrgChart
	xmlns CDATA #FIXED "http://www.xmlspy.com/schemas/orgchart"
	xmlns:ipo CDATA #FIXED "http://www.altova.com/IPO"
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation CDATA #IMPLIED
>
<!ELEMENT Office ((Name, Desc, Location, (Address | Address_EU), Phone, Fax, EMail, Department+))>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Location (#PCDATA)>
<!ELEMENT LeaveUsed (#PCDATA)>
<!ELEMENT LeaveTotal (#PCDATA)>
<!ELEMENT LeaveLeft (#PCDATA)>
<!ELEMENT Last (#PCDATA)>
<!ELEMENT First (#PCDATA)>
<!ELEMENT Fax (#PCDATA)>
<!ELEMENT EMail (#PCDATA)>
<!ELEMENT Desc ((para+))>
<!ELEMENT Department ((Name, Person+))>
<!ELEMENT CompanyLogo EMPTY>
<!ATTLIST CompanyLogo
	href CDATA #FIXED "nanonull.gif"
>
<!ELEMENT Address_EU ((ipo:street, ipo:city, ipo:postcode))>
<!ELEMENT Address ((ipo:street, ipo:city, ipo:state, ipo:zip))>
