gui-automation/data/schemaagent/testfiles/cust/RedefineBase1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified"
attributeFormDefault="unqualified">

	<!--===============================-->
	<xs:complexType name="complexBaseA">
		<xs:sequence>
			<xs:element name="e1"/>
			<xs:element name="e2"/>
			<xs:element name="e3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--===============================-->
</xs:schema>
