gui-automation/data/mapforce/examples/MixAttsAndElementsTest_out1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.hello.com" xmlns:xmi="http://www.hello.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="MixAttsAndElementsTest_out.xsd"/>
	<xs:element name="Field5">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="f5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Field3">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="xmi:Field1"/>
				<xs:element ref="Field2"/>
				<xs:element ref="Field4"/>
				<xs:element ref="xmi:Field5"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Field1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="f1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
