gui-automation/data/mapforce/examples/MixAttsAndElementsTest_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xmi="http://www.hello.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.hello.com" schemaLocation="MixAttsAndElementsTest_out1.xsd"/>
	<xs:element name="Rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xmi:Field1"/>
				<xs:element ref="Field2"/>
				<xs:element ref="xmi:Field3"/>
				<xs:element ref="ComplexField"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Field4">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Field2">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="xmi:Field1"/>
				<xs:element ref="xmi:Field3"/>
				<xs:element ref="Field4"/>
				<xs:element ref="xmi:Field5"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplexField">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xmi:Field1"/>
				<xs:element ref="Field2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
