gui-automation/data/mapforce/examples/Temperatures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:attribute name="temp" use="required" type="xs:decimal"/>
			<xs:attribute name="month" use="required" type="xs:gYearMonth"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Temperatures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="data" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
