gui-automation/data/stylevision/tdata/SchemaTreeTest/encoding/KoreanPoem_EucKR.xsd

<?xml version="1.0" encoding="UTF-8"?><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xs:element name="김소월의진달래꽃">		<xs:complexType>			<xs:sequence>				<xs:element ref="첫째연"/>				<xs:element ref="둘째연"/>				<xs:element ref="세째연"/>				<xs:element ref="네째연"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:element name="네째연">		<xs:complexType>			<xs:sequence>				<xs:element ref="첫째행"/>				<xs:element ref="둘째행"/>				<xs:element ref="세째행"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:element name="둘째연">		<xs:complexType>			<xs:sequence>				<xs:element ref="첫째행"/>				<xs:element ref="둘째행"/>				<xs:element ref="세째행"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:element name="둘째행" type="xs:string"/>	<xs:element name="세째연">		<xs:complexType>			<xs:sequence>				<xs:element ref="첫째행"/>				<xs:element ref="둘째행"/>				<xs:element ref="세째행"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:element name="세째행" type="xs:string"/>	<xs:element name="첫째연">		<xs:complexType>			<xs:sequence>				<xs:element ref="첫째행"/>				<xs:element ref="둘째행"/>				<xs:element ref="세째행"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:element name="첫째행" type="xs:string"/></xs:schema>