gui-automation/data/stylevision/tdata/SchemaTreeTest/Contstraints/ciftypes.xsd

<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by SIMON COGHLAN (TANDBERG TELEVISION) -->
<!--17082001 GE - A10-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="AdaptationLayerEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AAL1 34 Mbit/s"/>
			<xsd:enumeration value="STM-1 155 MBit/s"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AspectRatioEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="16_9"/>
			<xsd:enumeration value="4_3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AudioModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Mono"/>
			<xsd:enumeration value="Dual Mono"/>
			<xsd:enumeration value="Stereo"/>
			<xsd:enumeration value="Joint Stereo"/>
			<xsd:enumeration value="Audio Description Service"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AudioSourceEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Analogue"/>
			<xsd:enumeration value="Digital"/>
			<xsd:enumeration value="SDI"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AudioTypeEnum">
		<xsd:annotation>
			<xsd:documentation>DVB audio type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Normal"/>
			<xsd:enumeration value="Clean Effects"/>
			<xsd:enumeration value="Hearing Impaired"/>
			<xsd:enumeration value="Visual Impaired Commentary"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BaudRateEnum">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:enumeration value="1200"/>
			<xsd:enumeration value="2400"/>
			<xsd:enumeration value="4800"/>
			<xsd:enumeration value="9600"/>
			<xsd:enumeration value="19200"/>
			<xsd:enumeration value="38400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChannelPairEnum">
		<xsd:annotation>
			<xsd:documentation>Specifies the audio/video channel pair from the SDI input to the encoder</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChromaFormatEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="420"/>
			<xsd:enumeration value="422"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClosedCaptionEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TTV Original"/>
			<xsd:enumeration value="TTV Correct"/>
			<xsd:enumeration value="ATSC"/>
			<xsd:enumeration value="C-Cube"/>
			<xsd:enumeration value="TV Com"/>
			<xsd:enumeration value="SA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodingStandardEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Default"/>
			<xsd:enumeration value="Pre Encoded"/>
			<xsd:enumeration value="Uncompressed"/>
			<xsd:enumeration value="Dolby AC3"/>
			<xsd:enumeration value="MPEG 2"/>
			<xsd:enumeration value="Dolby E"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CopyrightEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Copyright"/>
			<xsd:enumeration value="NotCopyright"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FilmModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="OFF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrameDelayEnum">
		<xsd:annotation>
			<xsd:documentation>Specifies the number of frames the video is delayed to allow for encoding/decoding delays in a DolbyE encoder/decoder</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrameRateEnum">
		<xsd:restriction base="xsd:decimal">
			<xsd:enumeration value="25"/>
			<xsd:enumeration value="29.97"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="50"/>
			<xsd:enumeration value="59.94"/>
			<xsd:enumeration value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrequencyCodingEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Cable"/>
			<xsd:enumeration value="Satellite"/>
			<xsd:enumeration value="Terrestrial"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GopCoding">
		<xsd:annotation>
			<xsd:documentation>Video coding mode as specified by -
I - intra-coded frame
B - bi-directionally predictive-coded frame
P - predictive-coded frame
Eg. IBBP</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="I|IP|(I)*B{0,8}(P)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GroupEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ReflexGroup"/>
			<xsd:enumeration value="BandwidthFlowGroup"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HexString">
		<xsd:annotation>
			<xsd:documentation>Need restriction on the type of characters that can be here</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="HexStringLong">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HexStringLong">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalResEnum">
		<xsd:restriction base="xsd:unsignedShort">
			<xsd:enumeration value="352"/>
			<xsd:enumeration value="480"/>
			<xsd:enumeration value="544"/>
			<xsd:enumeration value="640"/>
			<xsd:enumeration value="704"/>
			<xsd:enumeration value="720"/>
			<xsd:enumeration value="1280"/>
			<xsd:enumeration value="1440"/>
			<xsd:enumeration value="1920"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ISO639LanguageCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LineType">
		<xsd:annotation>
			<xsd:documentation>Retricts Use for the ranges 7->22 and 320->335</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[7-9]|1[0-9]|2[0-2]|32[0-9]|33[0-5]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LNCVoltageEnum">
		<xsd:annotation>
			<xsd:documentation>Voltage required to tune input source</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MPEGLayerEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MPEG 2"/>
			<xsd:enumeration value="MPEG 1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NoiseReductionEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Off"/>
			<xsd:enumeration value="Level1"/>
			<xsd:enumeration value="Level2"/>
			<xsd:enumeration value="Level3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OperatingModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Constant Bitrate"/>
			<xsd:enumeration value="Statistical Multiplxing"/>
			<xsd:enumeration value="Low Delay"/>
			<xsd:enumeration value="Low Delay / High Bitrate"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OriginalEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Copy"/>
			<xsd:enumeration value="Original"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OriginTypeEnum">
		<xsd:annotation>
			<xsd:documentation>This is a flag specifying in which table the link is originated (see table 50 in en300468).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NIT"/>
			<xsd:enumeration value="SDT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PacketModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Internal"/>
			<xsd:enumeration value="External"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PCRTypeEnum">
		<xsd:annotation>
			<xsd:documentation>E = Embedded PCR in component; S = Seperate PCR from PSI</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Embedded"/>
			<xsd:enumeration value="Separate"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RunningStatusEnum">
		<xsd:annotation>
			<xsd:documentation> 3-bit field indicating the status of the service</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Undefined"/>
			<xsd:enumeration value="Stopped"/>
			<xsd:enumeration value="Start in seconds"/>
			<xsd:enumeration value="Pausing"/>
			<xsd:enumeration value="Running"/>
			<xsd:enumeration value="5Reserved"/>
			<xsd:enumeration value="6Reserved"/>
			<xsd:enumeration value="7Reserved"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleRateEnum">
		<xsd:restriction base="xsd:decimal">
			<xsd:enumeration value="32"/>
			<xsd:enumeration value="44.1"/>
			<xsd:enumeration value="48"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScanPatternEnum">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SurroundModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Not indicated"/>
			<xsd:enumeration value="NOT Dolby Surround "/>
			<xsd:enumeration value="Dolby Surround "/>
			<xsd:enumeration value="Reserved"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VBIModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PDC"/>
			<xsd:enumeration value="Line21 - Closed Caption"/>
			<xsd:enumeration value="Nielsen AMOL I"/>
			<xsd:enumeration value="Nielsen AMOL II"/>
			<xsd:enumeration value="VPS"/>
			<xsd:enumeration value="WSS"/>
			<xsd:enumeration value="VITC (SMPTE)"/>
			<xsd:enumeration value="VITC (EBU)"/>
			<xsd:enumeration value="Video Index"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalResEnum">
		<xsd:restriction base="xsd:unsignedShort">
			<xsd:enumeration value="240"/>
			<xsd:enumeration value="288"/>
			<xsd:enumeration value="480"/>
			<xsd:enumeration value="576"/>
			<xsd:enumeration value="720"/>
			<xsd:enumeration value="1088"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VideoTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Analogue Composite"/>
			<xsd:enumeration value="Digital Serial"/>
			<xsd:enumeration value="Analogue Component"/>
			<xsd:enumeration value="HD-SDI"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BufferModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Seamless1"/>
			<xsd:enumeration value="Seamless2"/>
			<xsd:enumeration value="Seamless3"/>
			<xsd:enumeration value="Seamless4"/>
			<xsd:enumeration value="Seamless5"/>
			<xsd:enumeration value="Seamless6"/>
			<xsd:enumeration value="StandardDelay"/>
			<xsd:enumeration value="LowDelay"/>
			<xsd:enumeration value="UltraLowDelay"/>
			<xsd:enumeration value="MegaLowDelay"/>
			<xsd:enumeration value="CIFLowBitrate"/>
			<xsd:enumeration value="CIFLowDelay"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EncoderTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E56xx"/>
			<xsd:enumeration value="E57xx"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BRCModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Passthrough"/>
			<xsd:enumeration value="Constant"/>
			<xsd:enumeration value="Variable"/>
			<xsd:enumeration value="Clipped"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DVBFrameSizeEnum">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:enumeration value="188"/>
			<xsd:enumeration value="204"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PictureFilterEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="soft"/>
			<xsd:enumeration value="medium"/>
			<xsd:enumeration value="sharp"/>
			<xsd:enumeration value="auto"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AutoConcatenationEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Off"/>
			<xsd:enumeration value="On"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VBRModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Off (Constant)"/>
			<xsd:enumeration value="On (Stuffing Off)"/>
			<xsd:enumeration value="On (Variable)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VBIDataServiceIdEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EBUTeletext"/>
			<xsd:enumeration value="InvertedTeletext"/>
			<xsd:enumeration value="VPS"/>
			<xsd:enumeration value="WSS"/>
			<xsd:enumeration value="ClosedCaptioning"/>
			<xsd:enumeration value="Monochrome422Samples"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ATMAdaptionLayerEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AAL1 with FEC"/>
			<xsd:enumeration value="AAL5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ATMCellPriorityEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Normal"/>
			<xsd:enumeration value="Low"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ATMPCRAwareEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Not PCR Aware"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FECOuterEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="not defined"/>
			<xsd:enumeration value="no outer FEC"/>
			<xsd:enumeration value="RS (204/188)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FECInnerEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="not defined"/>
			<xsd:enumeration value="1/2"/>
			<xsd:enumeration value="2/3"/>
			<xsd:enumeration value="3/4"/>
			<xsd:enumeration value="5/6"/>
			<xsd:enumeration value="7/8"/>
			<xsd:enumeration value="None"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CableModulationEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="not defined"/>
			<xsd:enumeration value="16 QAM"/>
			<xsd:enumeration value="32 QAM"/>
			<xsd:enumeration value="64 QAM"/>
			<xsd:enumeration value="128 QAM"/>
			<xsd:enumeration value="256 QAM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PolarisationEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="linear-horizontal"/>
			<xsd:enumeration value="linear-vertical"/>
			<xsd:enumeration value="circular-left"/>
			<xsd:enumeration value="circular-right"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SatelliteModulationEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="QPSK"/>
			<xsd:enumeration value="8PSK"/>
			<xsd:enumeration value="16 QAM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConstellationEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="QPSK"/>
			<xsd:enumeration value="16 QAM"/>
			<xsd:enumeration value="64 QAM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BandwidthEnum">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GuardIntervalEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1/32"/>
			<xsd:enumeration value="1/16"/>
			<xsd:enumeration value="1/8"/>
			<xsd:enumeration value="1/4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransmissionModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="2k"/>
			<xsd:enumeration value="8k"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HierarchyInformationEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="non-hierarchical"/>
			<xsd:enumeration value="alpha = 1"/>
			<xsd:enumeration value="alpha = 2"/>
			<xsd:enumeration value="alpha = 4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OtherFrequencyEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="no other"/>
			<xsd:enumeration value="one or more other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WestEastEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="west"/>
			<xsd:enumeration value="east"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
