gui-automation/data/spy/multiple_files_handling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Mr. Nobody (Altova GmbH) -->
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="testname">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="testcases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fileset" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugins">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="no"/>
				<xs:enumeration value="yes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fileset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directory"/>
				<xs:element ref="filename"/>
				<xs:element ref="plugins"/>
				<xs:element ref="testname"/>
				<xs:element ref="SPSfileOptions"/>
				<xs:element ref="wellformed"/>
				<xs:element ref="validation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filename">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="directory">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SPSfileOptions" type="xs:string"/>
	<xs:element name="wellformed" type="xs:string"/>
	<xs:element name="validation" type="xs:string"/>
</xs:schema>
