gui-automation/test/com/altova/stylevision/testsuite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by test (Altova GmbH) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="testsuite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tcase" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="testdir" type="xs:string"/>
	<xs:element name="tcase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="name"/>
				<xs:element ref="purpose"/>
				<xs:element ref="testdir"/>
				<xs:element ref="objective"/>
				<xs:element ref="spsfile"/>
				<xs:element ref="schemafile"/>
				<xs:element ref="workingxml"/>
				<xs:element ref="templatexml"/>
				<xs:element ref="design"/>
				<xs:element ref="authentic"/>
				<xs:element ref="editelement"/>
				<xs:element ref="editelementtext"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="purpose">
		<xs:complexType/>
	</xs:element>
	<xs:element name="objective">
		<xs:complexType/>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="id" type="xs:string"/>
	<xs:element name="editelementtext" type="xs:string"/>
	<xs:element name="editelement" type="xs:string"/>
	<xs:element name="design" type="xs:string"/>
	<xs:element name="authentic" type="xs:string"/>
	<xs:element name="workingxml" type="xs:string"/>
	<xs:element name="templatexml" type="xs:string"/>
	<xs:element name="schemafile" type="xs:string"/>
	<xs:element name="spsfile" type="xs:string"/>
</xs:schema>
