gui-automation/data/schemaagent/testfiles/XSD11/examples/assertions/validating-against-an-external-document/countries.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="countries">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" maxOccurs="unbounded" type="safe-string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="safe-string">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
            <xs:pattern value="[&#x9;&#xA;&#xD;&#x20;-&#x8F;]*" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>