gui-automation/data/schemaagent/example/DB_CompletePO/Article.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 U (http://www.xmlspy.com) by Mr. Nobody (Altova GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Article" type="ArticleType"/>
	<xs:complexType name="ArticleType">
		<xs:sequence>
			<xs:element name="Number" type="xs:integer"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="SinglePrice" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
