gui-automation/data/authentic/NewFileTemplatesTestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="testname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ExamplesOrgChart"/>
				<xs:enumeration value="NCAXMLcreateDelivery"/>
				<xs:enumeration value="NCAXMLcreateInvoice"/>
				<xs:enumeration value="NCAXMLcreateSample"/>
				<xs:enumeration value="NCAXMLcreateShipping"/>
				<xs:enumeration value="NCAXMLeditDelivery"/>
				<xs:enumeration value="NCAXMLeditInvoice"/>
				<xs:enumeration value="NCAXMLeditSampleOrder"/>
				<xs:enumeration value="NCAXMLeditShipping"/>
				<xs:enumeration value="NewsML"/>
				<xs:enumeration value="NewsNITF"/>
				<xs:enumeration value="P3P"/>
				<xs:enumeration value="Publishing"/>
				<xs:enumeration value="daisy"/>
				<xs:enumeration value="dita"/>
				<xs:enumeration value="rixml"/>
				<xs:enumeration value="teilite"/>
				<xs:enumeration value="xmlresume"/>
				<xs:enumeration value="xmlspec"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="testcases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fileset" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ifdialog">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="no"/>
				<xs:enumeration value="yes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fileset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directory"/>
				<xs:element ref="filename"/>
				<xs:element ref="ifdialog"/>
				<xs:element ref="testname"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filename">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Create-Deliviery-order.sps"/>
				<xs:enumeration value="Create-Invoice.sps"/>
				<xs:enumeration value="Create-Sample-order.sps"/>
				<xs:enumeration value="Create-Shipping-advice.sps"/>
				<xs:enumeration value="DocBook.sps"/>
				<xs:enumeration value="Edit-DeliveryOrder.sps"/>
				<xs:enumeration value="Edit-Invoice.sps"/>
				<xs:enumeration value="Edit-Sampleorder.sps"/>
				<xs:enumeration value="Edit-ShippingAdvice.sps"/>
				<xs:enumeration value="NITF.sps"/>
				<xs:enumeration value="NewsML.sps"/>
				<xs:enumeration value="OrgChart.sps"/>
				<xs:enumeration value="dita.sps"/>
				<xs:enumeration value="dtbook-2005-2.sps"/>
				<xs:enumeration value="p3p.sps"/>
				<xs:enumeration value="rixml.sps"/>
				<xs:enumeration value="tei-lite.sps"/>
				<xs:enumeration value="xmlresume.sps"/>
				<xs:enumeration value="xmlspec.sps"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="directory">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Examples"/>
				<xs:enumeration value="NCAXML"/>
				<xs:enumeration value="News"/>
				<xs:enumeration value="P3P"/>
				<xs:enumeration value="Publishing"/>
				<xs:enumeration value="daisy"/>
				<xs:enumeration value="dita"/>
				<xs:enumeration value="rixml"/>
				<xs:enumeration value="teilite"/>
				<xs:enumeration value="xmlresume"/>
				<xs:enumeration value="xmlspec"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
