gui-automation/data/stylevision/tdata/XMLTables/HTML/HTMLTable1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ZIP">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="5550"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TableData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="74 Pacific Terrace"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="State">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SmartGrid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Customer"/>
				<xs:element ref="ElectricalConsumption"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Row">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Element" maxOccurs="unbounded"/>
				<xs:element ref="Heading" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alec D. Woodfin"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MeterID">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="746932"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Row" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Element" type="xs:string"/>
	<xs:element name="Heading" type="xs:string"/>
	<xs:element name="ElectricalConsumption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MeterID"/>
				<xs:element ref="TableData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Street"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="ZIP"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Saratoga"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Row" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
