gui-automation/data/stylevision/tdata/XMLTables/HTML/html_variation1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by XMLSpy Ent Prof Std (Altova GmbH) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ul">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="XHTML"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="em">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="ul" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TR">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="TD" maxOccurs="unbounded"/>
				<xs:element ref="TH" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="THEAD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TH">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Cost per kilo "/>
				<xs:enumeration value="Vegetable"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="$1"/>
				<xs:enumeration value="$10.50"/>
				<xs:enumeration value="$100.30"/>
				<xs:enumeration value="Golden turnips"/>
				<xs:enumeration value="Lettuce"/>
				<xs:enumeration value="Silver carrots"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TBODY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TR" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TABLE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COLGROUP" minOccurs="0"/>
				<xs:element ref="THEAD"/>
				<xs:element ref="TBODY"/>
			</xs:sequence>
			<xs:attribute name="summary" type="xs:string" use="required"/>
			<xs:attribute name="border" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="COLGROUP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COL" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COL">
		<xs:complexType>
			<xs:attribute name="char">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
