gui-automation/data/stylevision/tdata/XMLTables/HTML/html_variation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema targetNamespace="http://testing.es" xmlns:def="http://testing.es" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="html_variation1.xsd"/>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="def:child1"/>
				<xs:element ref="def:child2"/>
				<xs:element ref="def:child3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="child3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="bar"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="child2">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="em" maxOccurs="unbounded"/>
				<xs:element ref="TABLE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="child1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="foo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
