gui-automation/data/stylevision/tdata/XMLTables/HTML/html.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (x64) (http://www.altova.com) by Mr. Nobody (Altova GmbH) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns="http://testing.es" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:def="http://testing.es" targetNamespace="http://testing.es">
	<xs:element name="ul">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="XHTML"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="child1"/>
				<xs:element ref="child2"/>
				<xs:element ref="child3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="em">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="ul" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="child3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="bar"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="child2">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="em" maxOccurs="unbounded"/>
				<xs:element ref="TABLE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="child1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="foo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TR">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="TD" maxOccurs="unbounded"/>
				<xs:element ref="TH" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="THEAD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TH">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Cost per kilo "/>
				<xs:enumeration value="Vegetable"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TD">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TBODY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TR" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TABLE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COLGROUP" minOccurs="0"/>
				<xs:element ref="THEAD"/>
				<xs:element ref="TBODY"/>
			</xs:sequence>
			<xs:attribute name="summary" type="xs:string" use="required"/>
			<xs:attribute name="border" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COLGROUP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COL" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COL">
		<xs:complexType>
			<xs:attribute name="char">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
