XMLSpy2015/Examples/Office2007/users.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main"
xmlns = "http://schemas.openxmlformats.org/spreadsheetml/2006/main">

	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user_tuple" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="user_tuple">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid"/>
				<xs:element name="name"/>
				<xs:element name="rating" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
