gui-automation/data/stylevision/tdata/SchemaTreeTest/CalsTable/cals-table-001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Lobsang Gyalpo (Altova GmbH) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element ref="email"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="affiliationType">
		<xs:sequence>
			<xs:element name="address" type="addressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="article">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="articleinfo" type="articleinfoType"/>
				<xs:element name="table" type="tableType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="articleinfoType">
		<xs:sequence>
			<xs:element ref="title"/>
			<xs:element ref="releaseinfo"/>
			<xs:element name="author" type="authorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="authorType">
		<xs:sequence>
			<xs:element ref="firstname"/>
			<xs:element ref="surname"/>
			<xs:element name="affiliation" type="affiliationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="colspecType">
		<xs:attribute name="colname" type="xs:string" use="optional"/>
		<xs:attribute name="colnum" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="entry">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A"/>
				<xs:enumeration value="B"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="firstname" type="xs:string"/>
	<xs:element name="releaseinfo" type="xs:string"/>
	<xs:complexType name="rowType">
		<xs:sequence>
			<xs:element ref="entry" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="surname" type="xs:string"/>
	<xs:complexType name="tableType">
		<xs:sequence>
			<xs:element ref="title"/>
			<xs:element name="tgroup" type="tgroupType"/>
			<xs:element ref="table" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="frame" type="xs:string" use="optional"/>
		<xs:attribute name="colsep" type="xs:boolean" use="optional"/>
		<xs:attribute name="rowsep" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="tbodyType">
		<xs:sequence>
			<xs:element name="row" type="rowType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tgroupType">
		<xs:sequence>
			<xs:element name="colspec" type="colspecType"/>
			<xs:element name="tbody" type="tbodyType"/>
		</xs:sequence>
		<xs:attribute name="cols" type="xs:byte" use="required"/>
	</xs:complexType>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="table" type="tableType"/>
</xs:schema>
