gui-automation/data/stylevision/tdata/SchemaTreeTest/Choice/choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Note">
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element name="Underline" type="xs:string"/>
				<xs:element name="Emphasis" type="xs:string"/>
				<xs:element name="br"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
